<header>
  <%= image_tag "menu.png", class: "open-button" %>
  <%= link_to image_tag("TADAGENIC.png", { class: "logo-img" }), tops_path %>
  <div class="header-right">
    <li><%= link_to "事前登録をする", tops_path%></li>
    <li><%=link_to "会社情報", about_tops_path%></li>
    <li><%= link_to "企業の方はこちら", companies_path %></li>
    <li><%= link_to "インフルエンサーの方はこちら", influencers_path %></li>
  </div>
</header>
