<html>
<head>
<title>タダでフォトジェニックな商品がもらえる「TADAGENIC」</title>
</head>

<body>
<%= render 'header' %>

<article>
  <div class = "top-wrapper">
    <div class="container-top">
      <%= image_tag "top-img.png", class: 'main-img' %>
      <%= image_tag "top-img-ios.png", class: "main-img-ios" %>
    <div class='container-web'>
      <%= form_for (@top) do |f| %>
        <%= f.text_field :name, class: 'sign_up1', placeholder: '名前' %>
        <%= f.text_field :email, class: 'sign_up2', placeholder: 'メールアドレス'%>
        <%= f.text_field :insta, class: 'sign_up3', placeholder: 'instagramアカウント ID'%>
        <%= f.submit '登録', class: 'submit'%>
      <% end %>
      <div class="explain-pre-signUp">
        事前登録をすればリリースの際、<span class="br-2">ご登録頂いた</span>ご連絡先にいち早く<span class = "br">お知らせ</span>が届きます。
      </div>
    </div>

    <div class='container-ios'>
      <%= form_for (@top) do |f| %>
        <%= f.text_field :name, class: 'sign_up1', placeholder: '名前' %>
        <%= f.text_field :email, class: 'sign_up2', placeholder: 'メールアドレス'%>
        <%= f.text_field :insta, class: 'sign_up3', placeholder: 'instagramアカウント ID'%>
        <%= f.submit '登録', class: 'submit'%>
      <% end %>
    </div>
    </div>
  </div>
  <%=render 'body'%>
</article>

<footer>
  <div class="border">
  </div>
    <%= image_tag "TADAGENIC.png", class: "footer-logo" %>
    <div class="footer-link-1">
      <li><%= link_to "事前登録をする", tops_path%></li>
      <li><%=link_to "会社情報", about_tops_path%></li>
    </div>
    <div class="clear"></div>
    <br/>
    <div class="footer-link-2">
      <li><%=link_to "企業の方はこちら", tops_path%></li>
      <li><%=link_to "インフルエンサーの方はこちら", tops_path%></li>
    </div>
    <div class="clear"></div>
    <div class="tadagenicInc">
      ©️TADAGENIC Inc.
    </div>
</footer>

</body>
</html>
