<header>
    <%= link_to image_tag("TADAGENIC.png", { class: "logo-img" }), tops_path %>
  <div class="header-right">
    <li><%= link_to "事前登録をする", tops_path%></li>
    <li><%=link_to "会社情報", about_tops_path%></li>
    <li><%= link_to "企業の方はこちら", company_tops_path %></li>
    <li><%= link_to "インフルエンサーの方はこちら", influencer_tops_path %></li>
  </div>
</header>

<article>
  <div class="container-top-about">
    <%= image_tag "top-about.png", class: "top-about" %>
  </div>
  <div class="container-about">
    <div class="our-vision">
      <div class="title-about">
        OUR VISION
      </div>
      <div class="vision">
        日本企業として世界の<br/>リーディングカンパニーになる
      </div>
      <div class="vision-explain">
        私達は日本企業として世界のリーディングカンパニー<br/>
        となることで日本の良さ（思いやりやおもてなしの精神<br/>
        義理人情など）が最大限に世界に伝わる仕組みを整え<br/>
        日本と世界を変えていきます。
      </div>
    </div>
    <div class="company">
      <div class="title-about">
        COMPANY
      </div>
      <div class="company-detail">
        <div class="company-name">
          <span class="company-title">会社名</span>　株式会社TADAGENIC
        </div>
        <div class="address">
          <span class="company-title">所在地</span>　東京都港区浜松町二丁目２番１５号
        </div>
        <div class="establish-day">
          <span class="company-title">設立日</span>　2017年9月20日
        </div>
        <div class="ceo-name">
          <span class="company-title">代表者</span>　代表取締役CEO 平塚登馬
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="contact">
      <div class="title-about">
        CONTACT
      </div>
      <div class="e-mail">
        info@tadagenic.com
      </div>
    </div>
  </div>
</article>
