<header>
    <%= link_to image_tag("TADAGENIC.png", { class: "logo-img-white" }), tops_path %>
  <div class="header-right-white">
    <li><%= link_to "事前登録をする", tops_path%></li>
    <li><%=link_to "会社情報", about_tops_path%></li>
    <li><%= link_to "企業の方はこちら", company_tops_path %></li>
    <li><%= link_to "インフルエンサーの方はこちら", influencer_tops_path %></li>
  </div>
</header>
<article>
  <div class="top-wrapper-company">
    <%= image_tag "top-img-company.png", class: 'main-img-company' %>   
  </div>
</article>
