<html>
<head>
<title>タダでフォトジェニックな商品がもらえる「TADAGENIC」</title>
</head>

<body>
<%= render 'header' %>

<article>
  <div class = "top-wrapper">
    <div class="container-top">
     <%= image_tag "top-img.png", class: 'main-img' %>
     <%= image_tag "top-img-ios.png", class: "main-img-ios" %>
     <%= link_to "企業の方はこちら", companies_path, class: "company-link" %>
     <%= link_to "インフルエンサーの方はこちら", influencers_path, class: "influencer-link" %>
     <%= link_to "事前登録する", new_top_path, class: "pre-signUp", remote: true %>
     <div class="explain-pre-signUp">
       事前登録をすればリリースの際、<span class="br-2">ご登録頂いた</span>ご連絡先にいち早く<span class = "br">お知らせ</span>が届きます。
     </div>
    </div>
  </div>
  <%= render 'body' %>
</article>

</body>
</html>
