<div class='company-top'>
<header>
  <div class="container-top-company">
    <%= link_to image_tag("TADAGENIC-white.png", { class: "logo-img-white" }), tops_path %>
    <%= image_tag "open-button-white", class: "open-button", alt: "" %>
  <div class="header-right-white">
    <li><%= link_to "事前登録をする", tops_path%></li>
    <li><%=link_to "会社情報", about_tops_path%></li>
    <li><%= link_to "企業の方はこちら", companies_path %></li>
    <li><%= link_to "インフルエンサーの方はこちら", influencers_path %></li>
  </div>
    <%= render 'form', company: @company%>
</div>
  <div class="container-top-company-ios">
    <%= link_to image_tag("TADAGENIC-white.png", { class: "logo-img-white" }), tops_path %>
    <%= image_tag "open-button-white", class: "open-button open-button-white" %>
    <%= render 'form', company: @company%>
  </div>
</header>

<%= render 'body'%>
</div>
