<div class='company-top'>
<header>
  <div class="container-top-company">
    <%= link_to image_tag("TADAGENIC-white.png", { class: "logo-img-white" }), tops_path %>
    <%= image_tag "open-button-white.svg", class: "open-button"%>
  <div class="header-right-white">
    <li><%= link_to "事前登録をする", tops_path%></li>
    <li><%=link_to "会社情報", about_tops_path%></li>
    <li><%= link_to "企業の方はこちら", companies_path %></li>
    <li><%= link_to "インフルエンサーの方はこちら", influencers_path %></li>
  </div>
  <%= link_to "登録する", new_company_path, class: "signup-button-company-white", remote: true %>
</div>
  <div class="container-top-company-ios">
    <%= link_to image_tag("TADAGENIC-white.png", { class: "logo-img-white" }), tops_path %>
    <%= image_tag "open-button-white.svg", class: "open-button open-button-white" %>
    <%= link_to "登録する",  new_company_path, class: "signup-button-company-white", remote: true %>
  </div>
</header>

<%= render 'body'%>
</div>

