<header>
  <div class="container-top-company">
    <%= link_to image_tag("TADAGENIC-white.png", { class: "logo-img-white" }), tops_path %>
    <%= image_tag "open-button-white", class: "open-button" %>
  <div class="header-right-white">
    <li><%= link_to "事前登録をする", tops_path%></li>
    <li><%=link_to "会社情報", about_tops_path%></li>
    <li><%= link_to "企業の方はこちら", companies_path %></li>
    <li><%= link_to "インフルエンサーの方はこちら", influencer_tops_path %></li>
  </div>
    <%= form_for (@company) do |f| %>
      <%= f.text_field :company_name, class: 'company-form', placeholder: '会社名前' %>
      <%= f.text_field :mail, class: 'company-form', placeholder: 'メールアドレス'%>
      <%= f.text_field :staff, class: 'company-form', placeholder: '担当者名'%>
      <%= f.submit '登録', class: 'company-form-submit'%>
    <% end %>
</div>
  <div class="container-top-company-ios">
    <%= link_to image_tag("TADAGENIC-white.png", { class: "logo-img-white" }), tops_path %>
    <%= image_tag "open-button-white", class: "open-button open-button-white" %>
    <%= form_for (@company) do |f| %>
      <%= f.text_field :company_name, class: 'company-form', placeholder: '会社名前' %>
      <%= f.text_field :mail, class: 'company-form', placeholder: 'メールアドレス'%>
      <%= f.text_field :staff, class: 'company-form', placeholder: '担当者名'%>
      <%= f.submit '登録', class: 'company-form-submit'%>
    <% end %>
  </div>
</header>

<article>
  <div class="container-company">
    <div class="title-company">
      TADGENIC FOR BUSINESS
    </div>
    <div class="company-explain">
      TADAGENIC FOR BUSINESSはモバイルアプリ「TADAGENIC」<br />に企業様が商品を出稿するためのサービスです。
    </div>
    <div class="link-top">
      TADAGENICの説明は<span><%= link_to "こちら", tops_path %></span>
    </div>
    <%= image_tag "three-img.svg", class: "three-img" %>
    <div class="company-explain-img">
      <%= image_tag "monitor.png", class: "online-img" %>
      <%= image_tag "target.png", class: "target-img" %>
      <%= image_tag "data.png", class: "data-img"%>
    </div>
    <div class="three-explain">
      <li class="online-explain">
        登録から管理まで<br />発送以外の全てをオンラインで<br />完結することができます。
      </li>
      <li class="target-explain">
        平均単価は通常のインフルエンサー<br />
        マーケティングの半額程度です。<br />
        さらに一般ユーザーのエンゲージメント<br />
        はインフルエンサーの約５倍です。<br />
        少ない予算で高い効果を生み出し<br />
        圧倒的なコストパフォーマンス<br />
        で提供します。
      </li>
      <li class="data-explain">
        インフルエンサーから一般ユーザー<br />
        まで幅広い層に商品を提供する<br />
        ことで、他者では真似できない<br />
        かなり濃密な行動データを提供する<br />
        ことができます。
      </li>
    </div>
    <div class="clear"></div>
  </div>
  <div class="friend-data-wrapper">
    <div class="title-company title-friend">
      事実、ユーザーは友達の投稿に<br />
      一番影響されています。
    </div>
    <div class="friend-explain">
      TADAGENICではインフルエンサーから一般ユーザーまでコンタクトが<br />
      可能なため、幅広いリーチや投稿のクオリティを確保したまま、圧倒的な影響と<br />
      エンゲージメントでコンテンツが拡散されやすい仕組みを整えています。
    </div>
      <%= image_tag "friend-data.svg", class: "friend-data" %>
      <%= image_tag "friend-data-ios.svg", class: "friend-data-ios" %>
  </div>
  <div class="fee-wrapper">
    <div class="title-company">
      料金体系
    </div>
    <div class="fee-explain">
      登録から出稿までの費用は一切かかりません。<br />
      コンタクト（商品を送るユーザーを選択する）<br />
      時に下記の規定で料金が発生します
    </div>
    <%= image_tag "fee-three.svg", class: "fee-three" %>
    <%= image_tag "fee-three-data.svg", class: "fee-three-ios" %>
    <%= image_tag "fee-table.svg", class: "fee-table" %>
  </div>
  <div class="post-wrapper">
    <div class="title-company">
      広告にもステマにもならない<br />自発的な投稿
    </div>
    <div class="post-explain">
      商品をもらったユーザーの行動は一切強制できません。<br />
      ただユーザーは良かったらシェア、良くなかったら感想を送る事ができます。<br />
      ユーザーが商品の受け取り後に上記のようなアクションを起こしているかを<br />
      表すアクション率が可視化されますので、アクションを起こしてくれる<br />
      ユーザーだけを選ぶができます。この仕組みにより、広告にもステマにもならない<br />
      自発的な投稿を生み出すことが可能です。
    </div>
  </div>
  <div class="signup-button-company">
    登録する
  </div>

</article>
