<!DOCTYPE html>
<html>
  <head>
    <title>タダでフォトジェニックな商品がもらえる「TADAGENIC」</title>
    <meta name="google-site-verification" content="tsPbTjK8fi-pmOKei-m6uAhJY1D-txE1gPfq2U5DumY" />
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
    <meta charset='utf-8'>
    <meta name="description" content="TADAGENICは、タダでフォトジェニックな商品がもらえるアプリです。今秋リリースを逃さないように事前登録をしよう！" />
    <meta name="keywords" content="TADAGENIC,タダ,フォトジェニック,タダジェニック,アプリ" />
    <meta property="og:description" content= "TADAGENICは、タダでフォトジェニックな商品がもらえるアプリです。今秋リリースを逃さないように事前登録をしよう！"
    />
    <meta property="og:site_name" content= 'タダでフォトジェニックな商品がもらえる「TADAGENIC」'/>
    <meta property="og:title" content="TADAGENIC" />
    <meta property="og:url" content="http://tadagenic.com" />
    <meta name="author" content="株式会社TADAGENIC" />
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=0.5,user-scalable=yes,initial-scale=1.0" />
    <meta name="google-site-verification" content="siD2PCV_vfLd24WkOHSGWRxfg8Q4FO87cakvg4h0IlU" />
    <%= analytics_init if Rails.env.production? %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "flash-message-#{key}") %>
    <% end %>
    <%= yield %>
    <footer>
      <div class="border">
      </div>
        <%= image_tag "TADAGENIC.png", class: "footer-logo" %>
        <div class="footer-link-1">
          <li><%= link_to "事前登録をする", tops_path%></li>
          <li class="br-2"><%=link_to "会社情報", about_tops_path%></li>
        </div>
        <div class="clear"></div>
        <br/>
        <div class="footer-link-2">
          <li><%=link_to "企業の方はこちら", tops_path%></li>
          <li><%=link_to "インフルエンサーの方はこちら", tops_path%></li>
        </div>
        <div class="clear"></div>
        <div class="tadagenicInc">
          ©️TADAGENIC Inc.
        </div>
    </footer>
  </body>
</html>
